<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>  
  <targets>
    <target xsi:type="File" name="allfile" fileName="${basedir}\${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}${newline}${exception:format=tostring}${newline}" />
    <target xsi:type="File" name="errorfile" fileName="${basedir}\errors.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}${newline}${exception:format=tostring}${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>